<article>
	<header>
		<h2><a href="<%= article_path(article) %>"><%= article.title %></a></h2>
		<em>by</em> <span class="author"><%= article.user.name %></span>
		on <span class="date"><%= article.created_at.strftime('%B %e, %Y') %>
			<% if can? :update, article %>
			<%= link_to 'Edit this article', edit_article_path(article) %>
			<% end %>
	</header>
	<section>
		<%= raw(article.rendered_body) %>
	</section>
	<% if article.comments_disabled == false and action_name == "show" %>
	<section class="comments">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		  (function() {
		   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		   dsq.src = 'http://478.disqus.com/embed.js';
		   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		  })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=478">comments powered by Disqus.</a></noscript>
	</section>
	<% elsif %>
	<section class="comments">
		<a href="<%= article_path(article)%>#disqus_thread">Comments</a>
	</section>
	<% end %>
</article>