<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

	<%= field_set_tag do %>
		<%= f.label "First Name" %>
		<%= f.text_field :first_name %>
		<%= f.label "Last Name" %>
		<%= f.text_field :last_name %>
	<% end %>

	<%= field_set_tag do %>
  	<%= f.label :email %>
  	<%= f.text_field :email %>
	<% end %>


	<%= field_set_tag do %>
  	<%= f.label :password %>
  	<%= f.password_field :password %>

  	<%= f.label :password_confirmation %>
  	<%= f.password_field :password_confirmation %>
	<% end %>

	<%= field_set_tag do %>
  	<%= f.submit "Sign up" %>
	<% end %>

<% end %>

<%= render :partial => "devise/shared/links" %>
