		<tr>
			<th><%= "-" * category.depth if category.depth > 1 %><%= link_to category.name, articles_category_path(category.url) %></th>
			<% if can? :manage, Category %>
			<td><%= category.description %></td>
			<td><%= category.url%></td>
			<td>layouts/<strong><%= category.layout %></strong>.html.erb</td>
			<td class="<%= category.url %>"><%= link_to_if(can?(:edit, Category), "Edit", edit_category_path(category.id)) {} %></td>
			<% end %>
		</tr>