<%= form_for @category do |f| %>
	<% if @category.errors.any? -%>
	<%= render :partial => 'shared/errors', :locals => {:object => @article} %>
	<% end %>
	<%= field_set_tag do %>
		<%= f.label :name%>
		<%= f.text_field :name %>
	<% end %>

	<%= field_set_tag do %>
		<%= f.label :description%>
		<%= f.text_area :description %>
	<% end %>

	<%= field_set_tag do %>
		<%= f.label :url%>
		<%= f.text_area :url %>
	<% end %>

	<%= field_set_tag do %>
		<%= f.label :layout%>
		<p>Just the basename, i.e.: "layout", would use layouts/layout.html.erb</p>
		<%= f.text_area :layout %>
	<% end %>
	<%= submit_tag (params[:action] == 'new' && 'Create') || 'Edit', :id => "submit" %>
<% end %>
