<!DOCTYPE html>
<html>
<head>
	<title>478teabags.com</title>
	<%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %> 
	<%= stylesheet_link_tag 'print.css', :media => 'print' %>
	<%= stylesheet_link_tag 'autocomplete.css', :media => 'screen' %>
	<!--[if lt IE 8]>
	<%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %>
	<![endif]-->

	<%= javascript_include_tag 'analytics' %>
	<%= javascript_include_tag 'modernizr-1.5.min' %>
	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js' %>
	<%= javascript_include_tag 'rails' %>
	<%= javascript_include_tag 'application' %>
	<%= javascript_include_tag 'jquery.colorbox-min' %>
	<%= javascript_include_tag 'jquery.autocomplete.min' %>
	<%= csrf_meta_tag %>

</head>
<body class="no-js bp <%= current_page %>">
	<% flash_messages %> 
	<div id="padding">
	<div id="container">
		<header id="top">
			<a href="/">478<span class="small">teabags<span>.</span>com</span></a>
		</header>
		<nav>
			<ul>
				<% if can? :manage, Category %>
				<li><%= link_to "manage categories", categories_path %></li>
				<% end %>
				<% if can? :manage, User %>
				<li><%= link_to "manage users", users_path %></li>
				<% end %>
				<% if user_signed_in? %><li><a href="/#add">add</a></li>
				<li><%= link_to "my profile", user_path(current_user)%>
				<li><%= link_to "sign out", destroy_user_session_path %></li>
				<% else %><li><%= link_to "sign in", new_user_session_path %></li>
				<% end %>
				<li><a href="mailto:web@487teabags.com">contact</a></li>
			</ul>
		</nav>
		<section id="content">
			<%= yield %>
		</section>
		<footer>
			<img src="/images/logo2.jpg">
			<div class="logo">
				478<span class="small">teabags<span>.</span>com</span>			
			</div>
		</footer>
	</div>
	</div>
	<script type="text/javascript">
	var disqus_shortname = '478';
	(function () {
	  var s = document.createElement('script'); s.async = true;
	  s.src = 'http://disqus.com/forums/478/count.js';
	  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
	</script>
</body>
</html>
