<!DOCTYPE html>
<html>
<head>
  <title>487teabags.com</title>
  <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %> 
  <%= stylesheet_link_tag 'print.css', :media => 'print' %>
  <!--[if lt IE 8]>
  <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %>
	<![endif]-->

	<%= javascript_include_tag 'modernizr-1.5.min' %>
	<%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>

	</head>
<body class="no-js bp">
	<div id="container">
		<header id="top">
			478<span class="small">teabags<span>.</span>com</span>
		</header>
		<nav>
		</nav>
		<section id="content">
			<%= yield %>
		</section>
		<footer>
		</footer>
	</div>
</body>
</html>
